{% extends 'blood/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <h2>Update Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %} 